
//colors
$color-primary-green: #55c57a;
$color-primary-green--light: #7ed56fad;
$color-primary-green--dark: #28b462ad;
$color-white: #fff;
$color-black: #777;
$color-grey-light: #f7f7f7;

//grid
$max-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;